*{
    box-sizing: border-box;
}

body{
    margin: 0;

    font-family: "Roboto";
    font-weight: 400;
}
.page__container{
    background-color: #F0F2F5;
}
.page{
    background-color: #F0F2F5;
    padding: 3.125rem 0.8rem;
}
p{
    margin: 0;
}
/*Pseudo element*/
.header__nav-link{
    position: relative;

}

.active::after{
    content: "";
    position: absolute;
    width:100%;
    height:4px;
    left:0;
    bottom:0;
    background-color: #1877F2;
    border-radius: 9999px;
}
.notif::after{
    content: "";
    position: absolute;
    width:4px;
    height:4px;
    right:16px;
    top:16px;
    background-color: red;
    border-radius: 9999px;
}

/*Header*/
.profil__header{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.header__title{
    margin: 0;
    color: #1877F2;
    text-align: center;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 2.5rem;
}
.header__content{
    margin: 0;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
/*header profil*/
.profil__header-container{
    display:flex;
    justify-content: space-between;
    padding: 0.375rem 0.5rem;
}
.search-input__container{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-top: 0.3125rem;
    background: #EAEAEA;
    color: #858585;
    border-radius: 9999px;
}
.profil__header-search{
    background: #EAEAEA;
    color: #858585;
    border: none;
    padding: 0.5rem;
}
.profil__header-search:active{
    appearance: none;
    border: none;
}
.profil__header-nav{
    display: flex;
    justify-content: space-between;
}
.header__nav-link{
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
}
 .profil__title{
     font-weight: 700;
     font-size: 24px;
     padding: 0.5rem 0 0 1rem;
     margin: 0;
 }
 .logo{
     margin-right: 1rem;
 }


/********************************/
/*form*/
.form__container{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 0 0.5rem;
}
.profil__form{
    box-shadow: none;
}

/*Form__connexion*/
.form__connexion{
    border-bottom: 1px solid #DDDFE2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.form__input-style{
    height: 52px;
    padding: 0.5rem;
    border: 1px solid #DDDFE2;
    font-family: "Roboto";
    font-weight: 400;
    width: 100%;
      
    
}

.form__input-style::placeholder{
    color: #CBCBCB;
}
.form__input-style--list-day{
    width: auto;
    color: black;
    padding: 0.5rem;
}
.form__input-style--list-month{
    color: black;
    margin-left: 0.5rem;
    flex-grow: 1;
}
.list-option__container{
    display: flex;
    justify-content: space-around;
}
.form__input-style--file{
    border: none;
    color: black;
    height: auto;
}
.form__label-text{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.form__input-style--color{
    padding: 0.5rem;
    width: 100%;
    height: 52px;
}
.form__phone-number-container{
    display: flex;
}
.btn{
    padding: 1rem;
    margin: 1rem 0;
}
.btn__submit{
    border: none;
    border-radius: 4px;
    background-color: #1877F2;
    color: white;
    font-weight: 700;
}
.form__password-forgot{
    color: #1877F2;
    text-decoration: none;
    align-self: center;
    padding-bottom: 0.5rem;
}
.form__password-forgot:hover{
    color: #1877F2;
    text-decoration: underline;
}
.form__radio-group{
    display: flex;
    flex-direction: column;
}
.form__radio-container{
    display: flex;
    align-items: center;
}
.form__radio{
    margin: 0 0.5rem 0 0 ;
    width: 1rem;
    height: 1rem;
}
.color-box{
    width: 100%;
    height: 52px;
    background-color: black;
}
.form__checkbox-container{
    display: flex;
}
.list-option__container{
    display: flex;
    justify-content: space-between;
}
/*Sign up*/
.form__sign-up{
    text-align: center;
    padding: 2rem;
}
.btn__sign-up{
    text-decoration: none;
    border-radius: 4px;
    background-color: #42B72A;
    color: white;
    font-weight: 700;
}
.cgu__link{
    color: black;
}
.form__profil-pic-container{
    display: flex;
    align-items: center;
}
.form__profile-pic{
    width: 50px;
}

/*************************/
/*footer*/
.footer{
    background-color: white;
    text-align: center;
    padding: 2rem 0;
}
.footer__text{
    color: #737373;

}


/*Media*/
@media (min-width: 730px){

    .page__profil{
        width: 730px;
        margin: 0 auto;
    }
    .page{
        margin: 0 auto;
        width : 730px;
        display: flex;
        justify-content: space-between;
    }
    .profil__header{
        display: flex;
        justify-content: space-between;
    }
    .search-input__container{
        margin-bottom: 0.75rem;

    }
    .header__container{
        width: 40%;
        margin-top: 7.625rem;
    }
    .header__title{
        text-align: left;
    }
    .form__container{
        margin-left: 1.5rem;
      flex-grow: 2;
    }

}
